<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/views/style_login.css">
    <link rel="icon" href="/Icons/CIMB.png">

</head>

<body>
    <section id="login">

        <center>

            <h1>Connect</h1>
            <div class="image"></div>
            <div id="login-form-wrap">
                <img src="/Icons/user.png" />
                <form id="login-form" action="/users/login" method="POST">
                    <ul>
                        <% if (messages.success_msg) {%>
                            <li>
                                <%= messages.success_msg %>
                            </li>
                            <% } %>
                    </ul>

                    <ul>
                        <% if (messages.error) { %>
                            <li>
                                <%= messages.error %>
                            </li>
                            <% } %>
                    </ul>
                    <p>
                        <input type="text" id="email" name="email" placeholder="Email" required><i
                            class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="password" id="password" name="password" placeholder="Password" required><i
                            class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="submit" id="log" value="Connect NOW">
                    </p>
                    <a href="/users/register">You Don't Have An Account ? Sign Up Now !</a>
                </form>
            </div>
        </center>
    </section>
</body>

</html>