<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft ISSATSo Member</title>
    <link rel="stylesheet" href="/views/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&family=Nunito:wght@200&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/Icons/CIMB.png">

</head>

<body>

    <section id="main">
        <header>


            <a href="https://www.facebook.com/MicrosoftISSATSO" target="_blank">
                <center><img src="/Images/mic.png" alt="Microsoft" class="im2"></center>
            </a>


        </header>
        <div class="jumbotron">
            <center>
                <!-- <video autoplay muted loop plays-inline class="back-video">
                    <source src="/Vidéos/Welcome Page Video (Page 1)1.mp4">
                </video> -->
                <h1 class="animate-charcter">Welcome TO Microsoft ISSATSo Club</h1>
                <h2 class="">All Your <span class="animate-charcter-span"> Membership Goals</span> In Just One
                    Place
                </h2>
                <a href="/users/login" target="_blank"><button class="slide">Sign In</button></a>
                <a href="/users/register" target="_blank"><button class="slide">Sign Up</button></a>

            </center>
        </div>
    </section>


</body>

</html>